<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.envelhecimentosaudavelfsj">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Principal"
            android:label="Envelhecimento Saudável"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.TesteCaminhada"
            android:label="Teste de caminhada"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".View.DobrasCutaneas"
            android:label="Dobras cutaneas"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".View.OximetriaAntropometria"
            android:label="Oximetria e Antropometria"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".View.DadosPaciente"
            android:label="Dados do paciente"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".View.Laudo"
            android:label="Laudo"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".View.Relatorio" />
    </application>

</manifest>